
.nft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    margin: 1rem;
    padding: 0;
    border-radius: 32px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #11191f;
    position:relative;
    overflow: hidden;
}


.nft_img{
    width:100%;
    height: 300px;
}

.nft_favorite{
    position: absolute;
    top: 16px;
    right: 16px;

}

.nft-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color:#eee;
    align-items: center;
    padding: 0.5rem 0rem 2rem;
    letter-spacing: 0.5px;
}

.nft-info .nft-title{
    margin-top: revert;
    margin-bottom: 8px;
    font-size: medium;
    text-align: center;
    width: 80%;
    height: 32px;
}
.nft-info .nft-creator{
    font-size: medium;
    text-align: center;
    height: 16px;
}

.nft-info span{
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.nft-info span.green{
    color:lightgreen;
    text-align: center;
}

.nft-info span.red{
    color:red;
    text-align: center;
}
.nft-stats {
    display: flex;
    flex-direction: column;

}

.nft-desc{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1.5rem;
    max-height: 50%;
    transform:translateY(100%);
    transition:transform 0.3s ease-in;
}
.nft-desc .desc-title {
    color: #11191f;
    font-size: medium;
}

.nft-desc .desc-title + .desc-paraph {
    color:#11191f;
    font-size: smaller;
}

.show-more{
    background-color: #11191f;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
}

.nft-info:hover .nft-desc{
    transform:translateY(0)
}

.icon-fav{
    position : absolute; 
    top : 2vh; 
    right : 2vh; 
    width : 2vw;
    cursor : pointer;
}