:root{

}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.nav{
    margin-left: 20%;
    margin-right: 20%;
}

.shopping_cart, .favorite{
    width: 36px;
    height: 36px;
    fill: white;
}

.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pages{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 25%;
    border: 5px solid whitesmoke;
    font-size: 20px;
    font-weight: 600;
}


.nft {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.nft img{
    width:100%;
}

.nft-info{
    color:#eee;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.nft-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.nft-info span.green{
    color:lightgreen;
}

.nft-info span.orange{
    color:orange;
}

.nft-info span.red{
    color:red;
}

.desc{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.nft:hover .desc{
    transform:translateY(0)
}

.filters{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn_filter{
    position: relative;
    overflow: hidden;
    letter-spacing: 2px;
    border: 2px solid #fff;
    padding: 16px 32px;
}

.btn_filter:hover{
    color: #11191f;
}
.btn_filter::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}
.btn_filter:hover::before{
    width: 150%;
}